<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <img src="../../../assets/logo.jpg" alt="Logo" class="navbar-logo" style="border-radius: 50%;"> <!-- Adjust path as needed -->
    </div>
    <div class="navbar-right">
      <!-- <input type="text" placeholder="Search..." class="navbar-search"> -->
      <div class="navbar-profile">
        <img src="../../../assets/default-profile.jpg" alt="Profile" style="border-radius: 50%;width: 30px;height: 30px;" class="navbar-profile-icon" (click)="goToProfile()">
        <span class="navbar-profile-name">Arun Anand</span> <!-- You can dynamically set this -->
      </div>
      <button (click)="logout()" class="navbar-logout">Logout</button>
    </div>
  </div>
</nav>
